<launch>
    <!-- <arg name="config_path" default = "$(find learn_vio)/config/config_file.yml" />
    <arg name="vins_path"   default = "$(find learn_vio)/" />
    
    <node name="feature_tracker" pkg="learn_vio" type="feature_track_node" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node> -->

    <arg name="config_path" default = "$(find feature_tracker)/../config/euroc/euroc_config.yaml" />
	<arg name="vins_path"   default = "$(find feature_tracker)/../config/../" />
    
    <node name="feature_tracker" pkg="feature_tracker" type="feature_tracker" output="log">
        <param name="config_file" type="string" value="$(arg config_path)" />
        <param name="vins_folder" type="string" value="$(arg vins_path)" />
    </node>

    <node name="front_end" pkg="learn_vio" type="front_end_node" output="screen">
    </node>

    <node name="vis" pkg="rviz" type="rviz" output="log" args="-d $(find learn_vio)/config/learn_vio.rviz"/>
</launch>